.ticketList {
    min-width: 272px;
    background-color: #F6EEEE;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
    
}
.list-title {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 25px;
}
.ticket-container {
    overflow-y: scroll;
    max-height: 60vh;
    min-height: 1px;
    padding-right: 8px;
}
.ticket-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.ticket-container::-webkit-scrollbar:vertical {
    width: 11px;
}

.ticket-container::-webkit-scrollbar:horizontal {
    height: 11px;
}

.ticket-container::-webkit-scrollbar-thumb {
    padding: 2px;
    border-radius: 8px;
    border: 2px solid #ebecf0; /* should match background, can't be transparent  */
    background-color: rgba(0, 0, 0, .5);
}

.close-list {
    width: 20px;
    height: 2px;
    display: inline-block;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    margin-top: 20px;
    transform: rotate(-45deg);
}

.close-list:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
}